h1, h2, p {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: gainsboro;
}

#game {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 50px;
}

.scoreLine {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin-top: 30px;
    margin-bottom: 30px;
}

input:hover:enabled {
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 black;
    cursor: pointer;
}

footer {
    background-color: grey;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

#github {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#github:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px 0 white;
    border-radius: 50%;
}


