h1, h2 {
    display: flex;
    justify-content: center;
}

body {
    background-color: gainsboro;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    display: flex;
    justify-content: center;
   
}

input:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 black;
}

#Button {
    padding: 14px 40px;
    border-radius: 8px;
    background-color: gainsboro;
}

#Button:hover {
    box-shadow: 0 0 10px 0 gainsboro;
}

#game {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 50px;
}

footer {
    background-color: #F2F2F2; 
    position: fixed;
    bottom: 5px;
    width: 100vw;
    text-align: center;
    
}


